@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #2d491a;
  --light-green: #4f7735;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #fff;
}

section {
  padding: 2rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--green);
  background: var(--light-green);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.heading {
  text-align: center;
  color: #333;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.heading span {
  color: var(--green);
  background: var(--light-green);
  border-radius: 0.5rem;
  padding: 0.2rem 1.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 1.5rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bolder;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

header .logo span {
  color: var(--green);
}

header .navbar a {
  color: #333;
  font-size: 2rem;
  padding: 0 1.5rem;
}

header .navbar a:hover {
  color: var(--green);
}
header .icons {
  display: flex;
  flex-direction: column;
}

header .icons .menu {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: var(--green);
  background: var(--light-green);
  text-align: center;
}

header .icons .menu:hover {
  color: var(--light-green);
  background: var(--green);
}

.triangle-up {
  position: absolute;
  z-index: 1001;
  right: 53px;
  margin: 65px 60px 0 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid var(--light-green);
}

.kontainer {
  display: none;
}

.dropmenu {
  position: absolute;
  z-index: 1001;
  right: 0;
  margin: 90px 60px 0 0;
  background-color: var(--light-green);
  width: 150px;
  display: flex;
  flex-direction: row;
}

.dropmenu .icon {
  width: 25%;
  background-color: var(--green);
  font-size: 22px;
  padding: 7px;
  padding-top: 15px;
  color: #f7f7f7;
}

.dropmenu .usermenu {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0 0 10px;
}

.dropmenu .icon ul,
.dropmenu .usermenu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.dropmenu .usermenu ul li a,
.dropmenu .usermenu ul li {
  text-decoration: none;
  color: #f7f7f7;
}
/* 
header .icons .menu.togle.active .kontainer {
  display: block;
} */

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .navbar {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: var(--light-green);
  }
}
